*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
/*    background-image:-webkit-linear-gradient(top,red,yellow,#F1F3F4);*/
    height: 568px;
    background-image: url("../images/index1/bg3.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    animation:bg 10s infinite;
}
@keyframes bg {
    0%{background: url("../images/index1/bg3.png") no-repeat; -webkit-background-size: 100%;
        background-size: 100%;}
    44%{background: url("../images/index1/bg3.png") no-repeat; -webkit-background-size: 100%;
        background-size: 100%;}
    55%{background: url("../images/index1/bg.png") no-repeat; -webkit-background-size: 100%;
        background-size: 100%;}
    95%{background: url("../images/index1/bg.png") no-repeat; -webkit-background-size: 100%;
        background-size: 100%;}
    100%{background: url("../images/index1/bg3.png") no-repeat; -webkit-background-size: 100%;
        background-size: 100%;}
}
.fl{float:left;}
.fr{float:right;}
.clear{
    overflow: hidden;
}
header{
    padding-top:20px;
    margin:0 auto;
    width: 90%;
}
header>div.clear{
    color:#fff;
    height: 35px;
}
header>div.clear div{
    float:left;
}
header>div.clear div:nth-of-type(1),header>div.clear div:nth-of-type(3){
    width: 10%;
}
header>div.clear div:nth-of-type(2){
    width: 80%;
    text-align: center;
    float:left;
}
header>div.clear div:nth-of-type(1) img{
    width: 20px;
}
header>div.clear div:nth-of-type(3){
    text-align: right;
}
header>div.clear div:nth-of-type(3) img{
    width: 25px;
    position:relative;
    top:4px;
}
header>div:nth-of-type(2){
    color:#fff;
    text-align: center;
    font-size:0.8rem;
}
header ul{
    padding-left:17%;
    margin-top:10px;
}
header ul li{
    color:#fff;
    float:left;
    font-size:0.8rem;
    padding:2px 6px;
    border:1px solid #fff;
    border-radius:4px;
    margin-right:4%;
}

#s41 ul li{
    height: 60px;
    animation:dh 70s infinite;
    padding-top:10px;
    text-align: center;
}
#s41 ul{
    width: 80%;
    height: 348px;
    margin:10px auto;
    padding-top:130px;
    overflow: hidden;
 /*   border:1px solid #fff;*/
}
@keyframes dh {
    0%{transform:translateY(0px);}
    3%{transform:translateY(0px);}
    4%{transform:translateY(-60px);}
    7%{transform:translateY(-60px);}
    8%{transform:translateY(-120px);}
    11%{transform:translateY(-120px);}
    12%{transform:translateY(-180px);}
    15%{transform:translateY(-180px);}
    16%{transform:translateY(-240px);}
    19%{transform:translateY(-240px);}
    20%{transform:translateY(-300px);}
    23%{transform:translateY(-300px);}
    24%{transform:translateY(-360px);}
    27%{transform:translateY(-360px);}
    28%{transform:translateY(-420px);}
    31%{transform:translateY(-420px);}
    32%{transform:translateY(-480px);}
    35%{transform:translateY(-480px);}
    36%{transform:translateY(-540px);}
    39%{transform:translateY(-540px);}
    40%{transform:translateY(-600px);}
    43%{transform:translateY(-600px);}
    44%{transform:translateY(-660px);}
    47%{transform:translateY(-660px);}
    48%{transform:translateY(-720px);}
    51%{transform:translateY(-720px);}
    52%{transform:translateY(-780px);}
    55%{transform:translateY(-780px);}
    56%{transform:translateY(-840px);}
    59%{transform:translateY(-840px);}
    60%{transform:translateY(-900px);}
    63%{transform:translateY(-900px);}
    64%{transform:translateY(-960px);}
    67%{transform:translateY(-960px);}
    68%{transform:translateY(-1020px);}
    71%{transform:translateY(-1020px);}
    72%{transform:translateY(-1080px);}
    75%{transform:translateY(-1080px);}
    76%{transform:translateY(-1140px);}
    79%{transform:translateY(-1140px);}
    80%{transform:translateY(-1200px);}
    83%{transform:translateY(-1200px);}
    84%{transform:translateY(-1260px);}
    87%{transform:translateY(-1260px);}
    88%{transform:translateY(-1320px);}
    91%{transform:translateY(-1320px);}
    92%{transform:translateY(-1380px);}
    95%{transform:translateY(-1380px);}
    96%{transform:translateY(-1440px);}
    99%{transform:translateY(-1440px);}


}
main span{font-size:0.8rem;
    margin-top:10px;
}
main a{
    color:#fff;
    text-decoration: none;
    font-size:0.8rem;
}
main #d1{
    width: 80%;
    margin:0 auto;
/*    border:1px solid;*/
}
main #d1 ul li{
    float:left;
    width: 25%;
    text-align: center;
}
main #d1 ul li:nth-of-type(3) img{
    width: 35px;
    position:relative;
    top:-4px;
}
main #d1 ul li:nth-of-type(4) img{
    position:relative;
    top:-10px;
}
main #d1 img{
    width: 30px;
}
main #tz{
    width: 100%;
    height: 60px;
    background: rgba(241, 243, 244, 0.6);
    position:fixed;
    top:250px;
}
footer{
    width: 100%;
   /* border:1px solid;*/
    position:fixed;
    bottom:0;
    left:0;
    background: #F1F3F4;
}
footer audio{
    width: 100%;
}
@media (min-width: 375px){
    body{
        height: 667px;

    }
    header ul{
        padding-left:22%;
        margin-top:10px;
    }
    #s41 ul{
        height: 448px;
        padding-top:170px;
    }
    main #tz{
        top:290px;
    }
}
@media (min-width: 414px){
    body{
        height: 736px;
    }
    header ul{
        padding-left:25%;
        margin-top:10px;
    }
    #s41 ul{
        height: 508px;
        padding-top:190px;
    }
    header>div:nth-of-type(2){
        color:#fff;
        text-align: center;
        font-size:0.9rem;
    }
    main a{
        font-size:1rem;
    }
    main span{font-size:0.9rem;
    }
    main #tz{
        top:310px;
    }
}
@media (min-height: 812px){
    body{
        height: 812px;
        background-image: url("../images/index1/bg3.png");
        -webkit-background-size: 120%;
        background-size: 120%;
        animation:bg 10s infinite;
    }

    @keyframes bg {
        0%{background: url("../images/index1/bg3.png") no-repeat; -webkit-background-size: 120%;
            background-size: 120%;}
        44%{background: url("../images/index1/bg3.png") no-repeat; -webkit-background-size: 120%;
            background-size: 120%;}
        55%{background: url("../images/index1/bg.png") no-repeat; -webkit-background-size: 120%;
            background-size: 120%;}
        95%{background: url("../images/index1/bg.png") no-repeat; -webkit-background-size: 120%;
            background-size: 120%;}
        100%{background: url("../images/index1/bg3.png") no-repeat; -webkit-background-size: 120%;
            background-size: 120%;}
    }
    header ul{
        padding-left:25%;
        margin-top:10px;
    }
    #s41 ul{
        height: 588px;
        padding-top:220px;
    }
    header>div:nth-of-type(2){
        color:#fff;
        text-align: center;
        font-size:0.9rem;
    }
    main a{
        font-size:0.9rem;
    }
    main span{font-size:0.8rem;
    }
    main #tz{
        top:340px;
    }
}